.infoBarContent
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 60vh;
  width: 100%;
  /* border: 2px solid white; */
  z-index: 1;
}

.aboutContent
{
  width: 40%;
  text-align: left;
}

.aboutContent p
{
  font-size: 1rem;
  margin-top: 1.5rem;
}

.downloadButton
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  top: 12vh;
  right: 1rem;
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #e34c26;
  border: none;
  border-radius: 5px;
  text-shadow: 2px 2px 5px #111;
  box-shadow: 2px 2px 5px #111,
              inset 2px 2px 5px rgba(17, 17, 17, 0.8),
              inset -2px -2px 5px rgba(17, 17, 17, 0.6);
  transition: 0.5s;
}

.downloadButton:hover
{
  box-shadow: 5px 5px 10px #111,
              inset 2px 2px 5px rgba(17, 17, 17, 0.8),
              inset -2px -2px 5px rgba(17, 17, 17, 0.6);
}

.downloadButton:hover .downloadIcon
{
  color: yellow;
}

.downloadButton:link, .downloadButton:visited, .downloadButton:active
{
  text-decoration: none;
}

.skillContent div
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.iconSkills
{
  transition: 0.5s;
}

.iconSkills:hover
{
  transform: scale(1.2);
  transition: 0.5s;
}

.iconSkills:nth-child(1)
{
  color: #f06529;
}

.iconSkills:nth-child(1):hover
{
  color: #e34c26;
}

.iconSkills:nth-child(2)
{
  color: #2965f1;
}

.iconSkills:nth-child(2):hover
{
  color: #264de4;
}

.iconSkills:nth-child(3)
{
  color: #f0db4f;
}

.iconSkills:nth-child(3):hover
{
  color: #ffdd00;
}

.iconSkills:nth-child(4)
{
  color: #61DBFB;
}

.iconSkills:nth-child(4):hover
{
  color: #00ccff;
}

.iconSkills:nth-child(5)
{
  color: #F1502F;
}

.iconSkills:nth-child(5):hover
{
  color: #ff2a00;
}

.iconSkills:nth-child(6)
{
  color: rgb(200, 200, 200);
}

.iconSkills:nth-child(6):hover
{
  color: rgb(255, 255, 255);
}

@media (max-width: 768px)
{
  .infoBarContent
  {
    flex-direction: column;
    justify-content: center;
  }

  .aboutContent
  {
    width: 100%;
    margin-bottom: 1rem;
  }
}
