.projectContent
{
  position: relative;
  height: 40vh;
  width: 80%;
  padding: 1rem;
  background-color: var(--firstLight);
  border-radius: 20px;
  box-shadow: 2px 2px 5px #000,
              inset 2px 2px 5px black,
              inset -5px -5px 10px black;
  z-index: 0;
}

.projectContent img
{
  height: 60%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #000;
  transition: 0.5s;
  cursor: pointer;
}

.projectContent img:hover
{
  box-shadow: 10px 10px 20px #000;
  transition: 0.5s;
}

.projectContent h2
{
  color: white;
  text-shadow: 1px 1px 5px black;
  margin-top: 1rem;
}

.icon
{
  height: 1.5rem;
  width: 1.5rem;
  color: #000;
  margin: 2rem 1rem;
}

.projectContent div a:hover .icon
{
  color: yellow;
}
