:root 
{
  --firstLight: rgba(255, 255, 255, 0.4);
  --secondLight: #eee;
  --lightBlue: #0df;
  --darkBlue: rgb(0, 50, 80);
  --firstDark: rgba(0, 0, 0, 0.6);
}

.App
{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
